@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Mode Styles */
:root {
  --primary-color: theme('colors.color1');
  --secondary-color: theme('colors.color2');
  --third-color: theme('colors.color3');
  --fourth-color: theme('colors.color4');
  --text-color: theme('colors.text');
  --buttons: theme('colors.buttons');
  --button-hover: theme('colors.buttonsHover');
  --background: theme('colors.color3');
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--background);
}

/* Light Mode Classes */
.color1 {
  @apply bg-color1;
}

.color2 {
  @apply bg-color2;
}

.color3 {
  @apply bg-color3;
}

.color4 {
  @apply bg-color4;
}

.color5 {
  @apply bg-color5;
}

.buttons {
  @apply bg-buttons;
}

.buttons-hover {
  @apply bg-buttonsHover;
}

/* Dark Mode Classes */
.dark .color1 {
  @apply bg-darkColor1;
}

.dark .color2 {
  @apply bg-darkColor2;
}

.dark .color3 {
  @apply bg-darkColor3;
}

.dark .color4 {
  @apply bg-darkColor4;
}

.dark .darkText {
  @apply text-darkText;
}

.dark .buttons {
  @apply bg-darkButtons;
}

.dark .buttons-hover {
  @apply bg-darkButtonsHover;
}

.dark .background {
  @apply bg-darkBackground;
}
