@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #5290ce;
  --secondary-color: #6ca9da;
  --third-color:#a1daf3;
  --fourth-color:#bbf3ff; 
  
  --text: #000000;
  --buttons: rgb(14 165 233);  
  --button-hover: rgb(3 105 161);
  --background: #a1daf3;
}

body { 
  padding: 0;
  margin: 0;
  background-color: var(--third-color);  
 
}




.color1 {
  @apply bg-color1;
}

.color2 {
  @apply bg-color2;
}

.color3 {
  @apply bg-color3;
}

.color4 {
  @apply bg-color4;
}

.color5 {
  @apply bg-color5;
}

